{% extends "index.html" %}
<!-- this.version: 0.3.18 - 2013-08-10 -->

{% block content %}

<div class="tabbable">

<!--
<ul class="nav nav-tabs">
  <li class="active"><a href="#24hrs" data-toogle="tab">24hrs</a></li>
  <li><a href="#7days" data-toogle="tab">7days</a></li>
  <li><a href="#30days" data-toogle="tab">30days</a></li>
</ul>

-->
  <ul class="nav nav-tabs">
    <li><a href="/display/agents" >Agent - List</a></li>
    <li class="active"><a href="#agent_log" data-toggle="tab">Agent_Log (All)</a></li>
    <li ><a href="#agent_warn" data-toggle="tab">WARN - Messages</a></li>
    <li><a href="/display/agents/log" >All - Agents - Log</a></li>


  </ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="agent_log">

    <div class="row"> 
        <div class="span12">
        <table width="100%" cellpadding="15" border="1">



        <tr class="uphead"><td colspan="3">Agent_Log All </td>    
        </tr>
        
        <tr class="uphead"><td>Agent_Name</td><td>S</td><td>Message</td></tr>    
        </tr>
        
        
            {% for al, al_data  in alog.iteritems() | sort | reverse %}
                <tr align="left" {% if al_data['data']['status'] > 0 %} class="msgalert" {% endif %}>
                    <td><a href="/display/agents/{{al_data['data']['aid']}}">{{al_data["name"]}}</a></td>
                    <td>{{al_data["status"]}}</td>
                    <td>{{al_data["msg"]}}</td>
                    <td>{{al_data}}</td>
                    <td>
                      <a href="/do/agent_run/{{al_data['data']['aid']}}" class="btn btn-primary">Run</a> 
                </tr>

            {% endfor %}


        </div>
    

    </div><!-- ./row -->
    
    </div><!-- .agent_log_pane -->





</div>
</div>

{% endblock %}
