{% extends "index.html" %}

{% block content %}

<div class="tabbable">

<!--
<ul class="nav nav-tabs">
  <li class="active"><a href="#24hrs" data-toogle="tab">24hrs</a></li>
  <li><a href="#7days" data-toogle="tab">7days</a></li>
  <li><a href="#30days" data-toogle="tab">30days</a></li>
</ul>

-->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#agents" data-toggle="tab">Agent - List</a></li>
    <li><a href="/display/agents/msgs" >Agents - Messages</a></li>
    <li><a href="/display/agents/log" >Agents - Log</a></li>
    <li><a href="#new_agent" data-toggle="tab">Create New</a></li>
    <li><a href="#agent_doc" data-toggle="tab">Help</a></li>

  </ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="agents">

    <div class="row"> 
        <div class="span12">
        <table width="100%" cellpadding="15" border="1">



        <tr class="uphead"><td colspan="3">Active Agents  </td>    
        </tr>
        
        <tr class="uphead"><td>Name</td><td>Next</td><td>last_res</td></tr>    
        </tr>
        
        
            {% for ag, ag_data  in aa.iteritems() | sort | reverse %}
                <tr align="left">
                    <td><a href="/display/agents/{{ag}}">{{ag_data['name']}}</a></td>
                    <td>{{ag_data["next_run"]}}</td>
                    <td></td>
                    <td>
                      <a href="/do/agent_run/{{ag}}" class="btn btn-primary">Run</a> 
                      <a href="/do/agent_mod/deactivate_{{ag}}" class="btn btn-primary">&nbsp; Manual &nbsp;</a>
                      <a href="/do/agent_mod/delete_{{ag}}" class="btn btn-danger">Delete</a>
                </tr>

            {% endfor %}


        <tr class="uphead"><td colspan="3">Manual Agents</td></tr>
        
            {% for ag, ag_data  in ia.iteritems() | sort | reverse %}
                <tr align="left">
                    <td>{{ag_data["name"]}}</td>
                    <td>{{ag_data["next_run"]}}</td>
                    <td>{{ag_data["search"]}}</td>
                    <td>
                      <a href="/do/agent_run/{{ag}}" class="btn btn-primary">Run</a> 
                      <a href="/do/agent_mod/activate_{{ag}}" class="btn btn-primary">Automatic</a>
                      <a href="/do/agent_mod/delete_{{ag}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>


            {% endfor %}
        </table>
        </div>
    

    </div><!-- ./row -->
    
    </div><!-- .agent_display_pane -->

    <div class="tab-pane fade in" id="new_agent">

    <div class="row">
        <div class="span12">

        {{ ne | safe }}

        </div>

    </div><!-- ./row -->
    
    </div><!-- ./new_agent_pane -->

    <div class="tab-pane fade in" id="agent_doc">

    <div class="row">
        <div class="span12">

        {{ ad | safe }}

        </div>

    </div><!-- ./row -->
    
    </div><!-- ./agent_doc_pane -->


</div>
</div>

{% endblock %}
