{% extends "index.html" %}


<div class="tabbable">

<!--
<ul class="nav nav-tabs">
  <li class="active"><a href="#24hrs" data-toogle="tab">24hrs</a></li>
  <li><a href="#7days" data-toogle="tab">7days</a></li>
  <li><a href="#30days" data-toogle="tab">30days</a></li>
</ul>

-->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#24hrs" data-toggle="tab">24 hours</a></li>
    <li><a href="#7days" data-toggle="tab">7 days</a></li>
    <li><a href="#30days" data-toggle="tab">30 days</a></li>
  </ul>


{% block content %}

{% for set, d_set in data.iteritems() %}

    <div class="tab-content">
        <div class="tab-pane fade active in" id="{{set}}">
        
            <a name="{{set}}"></a>
            <div class="row">
            <p>
            <h3>{{set}} - Summary </h3>
        
                <div class="span3">
                <table border="1" cellpadding="5" width="100%">
                    <tr>
                        <td><strong>Events</strong></td><td><strong>IPs</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="5">
                            <tr><td>T: </td><td align="right">{{ d_set[ }}</td></tr>
                            <tr><td>U: </td><td align="right">{{ data24 | length}}</td></tr>
                            </table>
                        </td>
                        <td>
                            <table cellpadding="5">
                            <tr><td>T: </td align="right"><td>{{ li24 }}</td></tr>
                            <tr><td>U: </td><td align="right">{{ ip24 | length}}</td></tr>
                            </table>
                        
                        </td>
        
        
        
                    </tr>
                    <tr>
                        <td><strong>Hosts</strong></td><td><strong>Sensors</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="5">
                            <tr><td>U: </td><td align="right">{{ h24 | length }}</td></tr>
                            </table>
                        </td>
                        <td>
                            <table cellpadding="5">
                            <tr><td>U: </td align="right"><td>{{ s24 | length }}</td></tr>
                            </table>
                        
                        </td>
        
        
        
                    </tr>
        
                    <tr>
                        <td colspan="2"><strong>Host_list</strong></td>
                    </tr>
                    <tr>
                        <td><strong>Count</strong></td><td><strong>Name</strong></td>
                    </tr>
                    
                        {% for host  in h24 %}
                            <tr><td>{{host[1]}}</td><td>{{host[0]}}</a></td></tr> 
                        {% endfor %}            
                    
                </table>
        
        
                </div>
        
                <div class="span5">
                <table border="1" cellpadding="5" width="100%">
                    <tr><td>Count</td><td>SID </td><td>Message</td></tr>
            
                {% for sid  in data24 %}
                    <tr><td>{{sid[1]}}</td><td>
                        
                        <a href="/sid/{{sid[0]}}?range=24h">{{sid[0]}}</a></td><td>{{sid[2]}}</td></tr> 
                {% endfor %}
                </table>
            
                </div>
            
                <div class="span3">
                <table border="1" cellpadding="5"  width="100%">
                    <tr><td>Count</td><td>IP </td></tr>
            
                {% for ip  in ip24 %}
                    <tr><td>{{ip[1]}}</td><td><a href="/ip/{{ip[0]}}?range=24h">{{ip[0]}}</a></td></tr> 
                {% endfor %}
                </table>
                </div>
        
            </p>
            </div><!-- ./row -->
    
    
    
      
        </div><!-- ./24hrs-pane -->
    
    



