{% extends "index.html" %}

{% block content %}

  <h2>Hostlists</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}


    {% for hl  in hostlist %}

    <li>{{hl}}</li>

    {% endfor %}


{% endblock %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Ymacs -- An Emacs-like editor for the Web</title>
    <link rel="stylesheet" type="text/css" href="/dl/new-theme/default.css" />
    <link rel="stylesheet" type="text/css" href="/ymacs/css/ymacs.css" />
    <link rel="stylesheet" type="text/css" href="test.css" />
  </head>
  <body>
    <center style="margin-top: 10em" id="x-loading">
      <h1><tt>.oO[ loading ]Oo.</tt></h1>
    </center>
    <script> 
      window.Dynarch_Base_Url = "/dl"; 
      window.YMACS_SRC_PATH = "/ymacs/js/";
    </script>
    <script src="/dl/js/thelib.js"></script>
    <script src="/ymacs/js-minified/ymacs-min.js"></script>
    <div style="display: none">
      <div id="browser-warning" style="padding: 1em; width: 20em;">
        <b>Note that Ymacs is only tested with Firefox for now.</b><br /><br />
        This is mentioned on the <a href="http://www.ymacs.org/"
        target="_blank">project page</a>,
        but I just thought I'd say it again.
      </div>
    </div>
    <script src="test.js"></script>
    
    
  </body>
</html>
