{% extends "index.html" %}

{% block content %}

<h5>{{page_header}}</h5>

<div class="tabbable">

<!--
<ul class="nav nav-tabs">
  <li class="active"><a href="#24hrs" data-toogle="tab">24hrs</a></li>
  <li><a href="#7days" data-toogle="tab">7days</a></li>
  <li><a href="#30days" data-toogle="tab">30days</a></li>
</ul>

-->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#result" data-toggle="tab">Display Result</a></li>
    <li><a href="#charts" data-toggle="tab">Display Charts</a></li>

  </ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="result">

    
    <div class="row">

    <div class="span3">

    <table border="1" cellpadding="5" width="100%">
    <tr class="uphead"><td colspan="2"><h5>Uniq_Events</h5></td></tr>
        <tr align="left"><td>Count</td><td>SID</td></tr>
    
        {% for event  in uniq_events %}
 
            <tr align="left"><td>{{event[1]}}</td><td><a title="{{event[2]}}" href="/sid/{{event[0]}}">{{event[0]}} </a></td></tr> 

        {% endfor %}
    
    
    
    <tr class="uphead"><td colspan="2"><h5>IP_Info</h5></td></tr>
    
    <tr><td>Name:</td><td>{{ip_info[1]}}</td></tr>
    <tr><td>RTex.IP:</td><td><a href="http://www.robtex.com/{{ip_info[0]}}.html">click</a></td></tr>
    
    
    </table>
    
    
    
    </div>


    <div class="span9">
    <table border="1" cellpadding="5" >
    <tr class="uphead"><td colspan="5"><h5>Event_List</h5></td></tr>

        <tr align="left"><td>SID</td><td>MSG</td><td>URL</td><td>Date</td><td align="center" width="55px">[ e ]</td></tr>
    
        {% for event  in data %}
 
            <tr align="left"><td><a href="/sid/{{event[0]}}">{{event[0]}}</a></td><td>{{event[1]}}</td><td>{{event[3]}}</td><td>{{event[4]}}</td>
 
                <td width="55px">
                <!-- tooltip sid, s_msg, rip, url, date, mz, var_name, host, content, idx-->
    
                <div class="tooltip-{{event[9]}}" align="left" >
                
                <a href="#" data-toggle="tooltip" data-html="true" data-placement="left" rel="tooltip-{{event[9]}}" title="
                
                <table class=hugo border=1 cellspacing=10 cellpadding=10 width=100%>
                    <tr><td valign=top>MSG:</td><td>{{event[1]}}</td></tr>
                    <tr><td valign=top>SID:</td><td>{{event[0]}}</td></tr>
                    <tr><td valign=top>IP:</td><td>{{event[2]}}</td></tr>
                    <tr><td valign=top>URL:</td><td>{{event[3]}}</td></tr>
                    <tr><td valign=top>MZ:</td><td>{{event[5]}}</td></tr>
                    <tr><td valign=top>VAR:</td><td>{{event[6]}}</td></tr>
                    <tr><td valign=top>Content:</td><td>{{event[8]}}</td></tr>
                    <tr><td valign=top>HOST:</td><td>{{event[7]}}</td></tr>
                    <tr><td valign=top>Date:</td><td>{{event[4]}}</td></tr>
                </table>
                
                ">
                
                <img src="/static/design/icons/bulb.png">
                </a>
                <img src="/static/design/icons/search.png">
                
                </div>
                <script>
                $('.tooltip-{{event[9]}}').tooltip({
                selector: "a[rel=tooltip-{{event[9]}}]"
                })
                </script>
                <!-- ./tooltip -->
                
                </td>
            </tr> 

        {% endfor %}
    </table>
    </div>


    
    </div><!-- ./row -->

    </div><!-- ./pane result -->
    <div class="tab-pane fade" id="charts">
    <div class="row">
        
        {% if charts %}
        {% for chart, chart_data  in charts.iteritems()  %}

    
        <div id="{{chart}}" style="min-width: 800px; height: 400px; margin: 0 auto"></div>
    ​
        <hr> 
        <footer class="footer">
           <p class="pull-left">multix</p>
           <p class="pull-right"><a href="#">Back to top</a></p>
        </footer>

    
        <script type="text/javascript"> 
    
    
        $(document).ready(function() {
            chart = new Highcharts.Chart({
            {{ chart_data | safe }}
    
            });
        });
    
        </script>
        {% endfor %}
        {% endif %}


    </div><!-- ./charts_row -->


    
    </div><!-- ./pane.p_charts -->



</div><!-- ./tab-content -->

</div><!-- ./tabbable-->


{% endblock %}
