{% extends "index.html" %}

{% block content %}

    
    <div class="row">
        <div class="span3">
        <table border="1" cellpadding="5" width="100%">

        <tr class="uphead"><td colspan="2">
        <h5>Uniq_IPs ( {{range_name}}  | {{uniq_ips|length}}  )</h5>
        </td></tr>
        
        <tr align="left" class="uphead"><td>Count</td><td>Peer_IP</td></tr>
        
            {% for ip  in uniq_ips %}
     
                <tr align="left"><td>{{ip[1]}}</td><td><a href="/do/search/ip@{{ip[0]}}">{{ip[0]}} </a></td></tr> 
    
            {% endfor %}

        <tr class="uphead"><td colspan="2">
        <h5>Uniq_SIDs ( {{range_name}}  | {{uniq_events|length}}  )</h5>
        </td></tr>
        <tr align="left" class="uphead"><td>Count</td><td>SID</td></tr>
        
            {% for sid  in uniq_events %}
     
                <tr align="left"><td>{{sid[1]}}</td><td><a href="/sid/{{sid[0]}}">{{sid[0]}} </a></td></tr> 
    
            {% endfor %}

        <tr class="uphead"><td colspan="2">
        <h5>Uniq_HOSTSs ( {{range_name}}  | {{uniq_hosts | length}}  )</h5>
        </td></tr>
        <tr align="left" class="uphead"><td>Count</td><td>Host</td></td></tr>
        
            {% for host  in uniq_hosts %}
     
                <tr align="left"><td>{{host[1]}}</td><td><a href="/do/search/host@{{host[0]}}?range={{range_name}}">{{host[0]}} </a></td></tr> 
    
            {% endfor %}

        </table>
        </div>

    
    <div class="span10">

    <table border="1" cellpadding="5" width="100%" >

        <tr class="uphead"><td colspan="7">
        <table width="100%">
            <tr>
            <td align="left" width="25%">
                {% if page_prev %}
                <a href="/latest/{{page_prev}}">
                <img src="/static/icons/leftarrow32.png">
                </a>
                {% endif %}
            
            </td>
            <td align="center" width="50%">
                <h5>Event_List
                {% if new_events %}
                &nbsp; &nbsp; / &nbsp; &nbsp; {{new_events}} new! &nbsp; &nbsp; <a href="/latest/ack/" class="btn btn-danger" data-loading-text="executing ack ..." >ACK! </a> 
                {% endif %}
                </h5></td>
            <td align="right"  width="25%">
                {% if page_next %}
                <a href="/latest/{{page_next}}">
                <img src="/static/icons/arrowright32.png">
                </a>
                {% endif %}
            </td>
            </tr>
        
        
        </table>

        
        </td></tr>
        
        <tr align="left" class="uphead"><td>SIG</td><td>MSG</td><td>PEER_IP</td><td>URL</td><td>HOST</td><td>Date</td><td style="min-width: 52px;">Info</td></tr>

        {% for event  in data %}
            <tr align="left"{% if event[10] > latest_user_sig %} class="newevent"{% endif %}>
            <td><a href="/sid/{{event[0]}}">{{event[0]}}</a></td>
            <td>{{event[1]}}</td><td><a href="/do/search/ip@{{event[2]}}">{{event[2]}}</a></td>
            <td><a href="/do/search/url@{{event[3]}}" title="{{event[3]}}">{{event[3][0:42]}}
                                {% if event[3] | count > 42 %}...{% endif %}</a></td>
            <td><a href="/do/search/host@{{event[7]}}">{{event[7]}}</a></td><td>{{event[4]}}</td>
            

            <td>
            <!-- tooltip sid, s_msg, rip, url, date, mz, var_name, host, content, idx-->

            <div class="tooltip-{{event[9]}}" align="left" >
            
            <a href="#" data-toggle="tooltip" data-html="true" data-placement="left" rel="tooltip-{{event[9]}}" title="
            
            <table class=hugo border=1 cellspacing=10 cellpadding=10 width=100%>
                <tr><td valign=top>MSG:</td><td>{{event[1]}}</td></tr>
                <tr><td valign=top>SID:</td><td>{{event[0]}}</td></tr>
                <tr><td valign=top>IP:</td><td>{{event[2]}}</td></tr>
                <tr><td valign=top>URL:</td><td>{{event[3]}}</td></tr>
                <tr><td valign=top>MZ:</td><td>{{event[5]}}</td></tr>
                <tr><td valign=top>VAR:</td><td>{{event[6]}}</td></tr>
                <tr><td valign=top>Content:</td><td>{{event[8]}}</td></tr>
                <tr><td valign=top>Host:</td><td>{{event[7]}}</td></tr>
                <tr><td valign=top>Sensor:</td><td>{{event[11]}}</td></tr>
                <tr><td valign=top>Date:</td><td>{{event[4]}}</td></tr>
            </table>
            
            ">
            
            <img src="/static/design/icons/bulb.png">
            </a>
            
            
            </div>
            <script>
            $('.tooltip-{{event[9]}}').tooltip({
            selector: "a[rel=tooltip-{{event[9]}}]"
            })
            </script>
            <!-- ./tooltip -->
            </td>
            
            
            </tr> 
        {% endfor %}

        <tr class="uphead"><td colspan="7">
        <table width="100%">
            <tr>
            <td align="left" width="25%">
                {% if page_prev %}
                <a href="/latest/{{page_prev}}">
                <img src="/static/icons/leftarrow32.png">
                </a>
                {% endif %}
            
            </td>
            <td align="center" width="50%">
            <a href="#top"> . top . </a>
            </td>
            <td align="right"  width="25%">
                {% if page_next %}
                <a href="/latest/{{page_next}}">
                <img src="/static/icons/arrowright32.png">
                </a>
                {% endif %}
            </td>
            </tr>
        
        
        </table>

        
        </td></tr>


    </table>
    </p>
    </div>
    </p>
    </div>







{% endblock %}
