{% extends "index.html" %}

{% block content %}


    <div align="center">

    <h3>{{page_header}}</h3>
    <table border="1" cellpadding="5" >
        <tr align="left"><td>ID</td><td>MSG</td><td>Rule</td><td>Ruleset</td></tr>
    
        {% for sig, sdata  in sig_list | reverse%}
            <a name="{{sig}}"></a>
            <tr align="left"><td><a href="/sid/{{sig}}">{{sig}}</a></td><td>{{sdata[0]}}</td>
            <td><pre>{{sdata[4]}}</pre></td>
            <td>{{sdata[5]}}</td></tr> 

        {% endfor %}
    </table>





    </div>


{% endblock %}
