{% extends "index.html" %}


{% block content %}


<div class="tabbable">

<!--
<ul class="nav nav-tabs">
  <li class="active"><a href="#24hrs" data-toogle="tab">24hrs</a></li>
  <li><a href="#7days" data-toogle="tab">7days</a></li>
  <li><a href="#30days" data-toogle="tab">30days</a></li>
</ul>

-->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#result" data-toggle="tab">Display Result</a></li>

  </ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="result">
    
    <div class="row">    
        
        <div class="span9">
        <table width="100%">
            <tr>
            <td align="left" width="25%">
                {% if page_prev %}
                <a href="/latest/{{page_prev}}">
                <img src="/static/icons/leftarrow32.png">
                </a>
                {% endif %}
            
            </td>
            <td align="center" width="50%"><h5>Event_List</h5></td>
            <td align="right"  width="25%">
                {% if page_next %}
                <a href="/latest/{{page_next}}">
                <img src="/static/icons/arrowright32.png">
                </a>
                {% endif %}
            </td>
            </tr>
        
        
        </table>
    
        <table border="1" cellpadding="5" >
        
    
            <tr align="left" class="uphead"><td>Count</td><td>{{thead}}</td><td>Search</td></tr>
            {% for event  in data %}
                <tr align="left"><td>{{event[1]}}</a></td>
                
                <td><a href="/do/search/{{ssearch}}@{{event[0]}}">{{event[0]}}</a></td>
                <td>
                
                <form action="/do/search/" method="POST">
                <input type=hidden name="srch" value="{{ssearch}} = {{event[0]}}">
                <input type=hidden name="trange" value="{{search_range}}">
                <input type="image" src="/static/design/icons/search.png">
                </form>
                </td>                </tr> 
            {% endfor %}
        
    
        </table>
        </div>
        </p>
    </div><!-- ./row -->

    </div><!-- ./pane result -->
    <div class="tab-pane fade" id="charts">

        <h3>Charts</h3>

        ... sorry, not yet implemented ...
        


    
    </div><!-- ./pane.charts -->



</div><!-- ./tab-content -->

</div><!-- ./tabbable-->







{% endblock %}
