/* ==== Header ==== */

.logo {
	display: inline-block;
	outline: none;
	padding: 16px;
	margin: 0;
	height: 32px;
	background: #fff;
}

.logo img {
	height: auto;
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	margin: 5px 0 0 0;
}

a.nav-button {
	position: absolute;
	top: 20px;
	right: 0;
	display: block;
	width: 20px;
	height: 20px;
	background: url(/static/design/nav-button.png) no-repeat;
	outline: none;
	overflow: hidden;
	text-indent: -4000px;
}

a.first-aid {
	background: url(/static/design/first-aid.png) no-repeat;
	outline: none;
	display: block;
	position: absolute;
	z-index: 11;
	top: 20px;
	right: 35px;
	width: 20px;
	height: 20px;
	text-indent: -4000px;
	overflow: hidden;
}



/* ==== Suche ==== */

a.search-button {
	display: block;
	position: absolute;
	z-index: 12;
	top: 19px;
	right: 68px;
	width: 20px;
	height: 20px;
	text-indent: -4000px;
	overflow: hidden;
	background: url(/static/design/icons/suche.png) no-repeat;
}

form#search {
	display: none;
	padding: 8px 16px;
	margin: 0;
	background: #f2f2f2;
}

form#search.toggled, form#search:target {
	display: block;
}

form#search input[type="text"] {
	width: 70%;
}
