/* ==== Allgemeines ==== */

img {
	border: none;
}

q {
	quotes: "\201E" "\201D"; 
}

p {
	margin: 0 0 12px 0;
	padding: 0;
}

a { 
	text-decoration: none;
	color: #00aef0; 
}

a:active, a:focus, a:hover { 
	color: #f05922;
}

a[href$=".pdf"] {
	background: url(/static/design/icons/pdf.png) no-repeat;
	padding: 0 0 0 19px;
	display: inline-block;
}

#content img {
	
	height: auto;
}

.grau {
	color: #c5c5c5;
}

hr { 
	margin: 10px 0;
	padding: 0;
	display: block;
	height: 1px;
	border: none;
	background: none;
	clear: both;
	border-top: 1px solid #9e9e9e;
}



/* ==== Überschriften ==== */

h1, h2, h3, h4, h5, h6 { text-rendering: optimizeLegibility; }

h1 { 
	font: 1.8em/1.2em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 0 0 14px 0;
	padding: 0;
	clear: both;
}

h2 {
	font: 1.6em/1.2em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 20px 0 10px 0;
	padding: 0;
}

h3 {
	font: 1.4em/1.2em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 0 0 8px 0;
	padding: 0;
}

h4 {
	font: 1.2em/1.2em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 0 0 6px 0;
	padding: 0;
}

h5 {
	font: 1em/1.2em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 0 0 4px 0;
	padding: 0;
}

h6 {
	font: 1em/1.2em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 0 0 2px 0;
	padding: 0;
}



/* ==== Bilder ==== */

.bild-links {
	float: left;
	margin: 4px 12px 6px 0;
	padding: 0 0 2px 0;
	background: #fff;
	border-bottom: 3px solid #40c2f4;
}

.bild-rechts {
	float: right;
	margin: 4px 0 6px 12px;
	padding: 0 0 2px 0;
	background: #fff;
	border-bottom: 3px solid #40c2f4;
}



/* ==== Listen ==== */

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	padding: 1px 16px 2px 38px;
	line-height: 1.3em;
	background: url(/static/design/li.png) no-repeat 20px 0.45em;
}



/* ==== Tabellen ==== */

table {
	margin: 16px 0;
	padding: 10px 10px 0 10px;
	display: block;
	border-collapse: collapse;
	border: 1px solid #dddee0;
	background: #f2f2f2;
}

table thead, table tbody, table tr, table th , table td {
	display: block;
	padding: 0;
	text-align: left;
	vertical-align: top;
}

table tbody tr {
	margin: 0 0 14px 0;
}

table tbody th {
	margin: 0 0 2px 0;
	border-bottom: 1px solid #ccc;
}

table thead {
	background: #dddee0;
	margin: -10px -10px 10px -10px;
}

table thead th {
	padding: 5px 10px;
}



/* ==== Formulare ==== */

form {
	margin: 0;
	padding: 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="email"],
textarea, select {
	font: 1em/1.4em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 0;
	padding: 3px 6px;
	border: 1px solid #ccc;
	background: #fff;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
}

select { padding: 1px; }

input[type="submit"], button {
	font: 1em/1.4em Arial, Helvetica, "Trebuchet MS", sans-serif;
	margin: 0;
	cursor: pointer;
	background: #00aef0;
	color: #fff;
	border: 1px solid #00aef0;
	padding: 3px 6px;
}



/* ==== Auswahl ==== */

p.slogan {
	font-size: 1.5em;
	line-height: 1.4em;
	color: #7e7e7e;
}

ul.choice li {
	padding: 4px 0;
	background: none;
	font-size: 1.9em;
	line-height: 1.2em;
	border-bottom: 1px dotted #ccc;
}

ul.choice li a {
	outline: none;
	color: #010101;
	padding: 20px 0 20px 40px;
	min-height: 25px;
	display: block;
}

ul.choice li.entscheider a {
	background: url(../design/icons/entscheider.png) no-repeat;
}

ul.choice li.entwickler a {
	background: url(../design/icons/entwickler.png) no-repeat;
}

ul.choice li.admins a {
	background: url(../design/icons/admins.png) no-repeat;
}
